input, button {
  outline: none; }

.pow_block {
  background: #f7f7f7;
  padding: 20px 20px;
  border-radius: 5px; }
  .pow_block h2 {
    margin: 0; }
  .pow_block input {
    margin: 4px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid silver; }
  .pow_block button {
    margin: 5px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid silver; }
    .pow_block button:hover {
      cursor: pointer; }
  .pow_block .result_inner {
    margin-top: 10px;
    padding: 5px 5px;
    border: 1px solid silver;
    border-radius: 5px; }
