input, button {
    outline: none;
}

$block_color: #f7f7f7;
$bd_radius: 5px;

.block {
    background: $block_color;
    padding: 20px 20px;
    border-radius: $bd_radius;
    max-width: 250px;
    margin: 0px 0px 10px 0px;

    h3 {
        margin: 0px 0px 5px 0px;
    }

    input {
        margin: 4px 0px;
        padding: 5px 5px;
        border-radius: $bd_radius;
        border: 1px solid silver;
    }

    button {
        margin: 5px 0px;
        padding: 5px 5px;
        border-radius: $bd_radius;
        border: 1px solid silver;

        &:hover {
            cursor: pointer;
        }
    }
}